.aside-2 {
  order: 2;
  #formFilter {
    -webkit-flex: initial;
    flex: initial;
    -webkit-order:1;
    padding: 12px 12px;
    font-family: roboto;
    width: 230px;
    background: $filter-bg-color;
    fieldset {
      padding: 0; margin: 0; border: 0;
    }
    label {
      color: $text-color-secondary;
      font-size: 12px;
      text-transform: uppercase;
    }
    legend {
      color: #666;
      padding-left: 10px;
    }
    ul {
      width: 100%;
      padding: 0;
      height: 300px;
      margin: 0;
    }
    li {
      list-style: none;
      float: left;
      padding: 6px;
      display: flex;
      height: 60px;
      flex-direction: column;
      input {
        width: 95px;
        height: 36px;
        border-radius: 2px;
        border: solid 1px #979797;
        color: #979797;
      }
    }
  }
  @media all and (max-width: 768px) {
    #formFilter {
      width: 100%;
      padding: 0;
    }
    #filter-container {
      padding: 0;
      fieldset {
        overflow-y: scroll;
        height: 159px;
      }
    }
  }
  @media all and (max-width: 320px) {
    .aside-2 {
      #filter-container {
        padding: 0;
        fieldset {
          overflow-y: scroll;
          height: 159px;
        }
      }
    }
  }
  @media all and (max-width: 375px) {
    .aside-2 {
      #filter-container {
        padding: 0;
        fieldset {
          overflow-y: scroll;
          height: 159px;
        }
      }
    }
  }
}
