@import "variables";
.top {
  background-color: $header-background-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: #fff;
  .spotilogo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-order:1;
    width: 127px;
    height: 60px;
    background-color: #00acff;
    i {
      color: #fff;
      text-decoration: none;
      font-family: roboto;
      font-weight: bold;
      font-size: 33px;
    }
  }
  h1 {
    -webkit-order:2;
    padding: 0;
    margin: 18px 0 0 17px;
    text-transform: uppercase;
    font-family: roboto;
  }
}
@media all and (max-width: 800px) {
  .top {
    justify-content: space-around;
  }
}
@media all and (max-width: 500px) {
  .top {
    flex-direction: column;
  }
}
