@import "variables";
.top {
  background-color: $header-background-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: #fff;
  .logo {
    -webkit-order:1;
  }
  h1 {
    -webkit-order:2;
    font-family: roboto;
  }
}
@media all and (max-width: 800px) {
  .top {
    justify-content: space-around;
  }
}
@media all and (max-width: 500px) {
  .top {
    flex-direction: column;
  }
}
