@font-face {
	font-family: "typos";
	src: url('/fonts/icons/typos.eot');
	src: url('/fonts/icons/typos.eot?#iefix') format('eot'),
		url('/fonts/icons/typos.woff2') format('woff2'),
		url('/fonts/icons/typos.woff') format('woff'),
		url('/fonts/icons/typos.ttf') format('truetype'),
		url('/fonts/icons/typos.svg#typos') format('svg');
}

.icon:before {
	font-family: "typos";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-building:before {
	content: "\E001";
}

.icon-ic-card-area:before {
	content: "\E002";
}

.icon-ic-card-bathroom:before {
	content: "\E003";
}

.icon-ic-card-beds:before {
	content: "\E004";
}

.icon-logo-vivareal:before {
	content: "\E005";
}

.icon-plus-icon:before {
	content: "\E006";
}
