.paginate-list {
  display: flex;
  .item {
    list-style: none;
    button {
      display: inline-block;
      border: 1px solid rgba(0,0,0,.12);
      background-color: #fff;
      color: #00acff;
      border-right: 0 none;
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
    }
    button.atual {
      background-color: #00acff;
      color: #fff;
    }
  }
}
