.paginate-list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .item {
    list-style: none;
    button {
      display: inline-block;
      border: 1px solid rgba(0,0,0,.12);
      background-color: $background-color-primary;
      color: $paginate-list-color;
      border-right: 0 none;
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
    }
    button.atual {
      background-color: $current-page;
      color: $text-color-tertiary;
    }
  }
}
@media all and (max-width: 375px) {
  .paginate-list {
    .item {
      button {
        font-size: 11px;
      }
    }
  }
}
