$background-color-primary: #fff;
$header-background-color: #1190cd;
$background-color-secondary: #cecece;
$text-color-primary: #000;
$text-color-secondary: #999;
$text-color-tertiary: #fff;

$font-family-primary: Roboto, 'Open Sans', Helvetica Neue, sans-serif;
$font-size-base: 14px;
$font-size-large: 18px;
$font-size-small: 12px;

$current-page: #00acff;
$paginate-list-color: #00acff;
$hover-color: #ff6c00;

$main-bg-color: #f1f1f1;
/** FOOTER CARD **/
$card-color: #444444;
$card-bg-buttom: #00acff;
$card-cod-color: #878787;
/* FILTER */

$filter-bg-color: #f9f9f9;
