@import "variables";
@import "list";
@import "filter";
@import "paginator";
@import "header";
@import "icons";


.main {
  display: -webkit-flex;
  display: flex;
  width:100%;
  display: -webkit-flex;
  display: flex;
  background-color: $main-bg-color;

  #filter-container {
    -webkit-flex: initial;
    flex: initial;
    width: 230px;
    min-width: 230px;
    -webkit-order:1;
    padding: 12px;

    fieldset {
      padding: 0; margin: 0; border: 0;
    }
  }
}
