<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spotippos Index</title>
</head>
<body>

  <h1>{{title}}</h1>
  {{{ body }}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.js" charset="utf-8"></script>
  <script src="./static/js/dist/bundle.js" charset="utf-8"></script>
</body>
</html>
