<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
</head>
<body>

  <h1>Handlebars</h1>
  <div class="">
    {{#each room as |room|}}
      {{title}}
    {{/each}}
  </div>
  <div class="">
    {{room.title}}
  </div>
  <div id="spotippos-container"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.js" charset="utf-8"></script>
  <script src="./static/js/dist/bundle.js" charset="utf-8"></script>
</body>
</html>
